/* basic styles */
:root{
  --accent-color: #2196F3;
  --prime-color: #212121;
  --secondary-color:#757575;
}
body{
  font-family: Roboto, sans-serif;
  color: var(--prime-color);
}
.list{
  list-style: none;
}
.link{
  text-decoration: none;
}
.section_title{
  font-weight: 700  ;
  font-size: 36px;
  line-height: 1;
}
/* header styles */

.logo{
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1;

  .logo-first-part{
    color: var(--accent-color);
  }
  .logo-second-part{
    color:var(--prime-color)
  }
  .logo_footer_second{
    color: #fff;
  }
}

.nav-list{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  .nav-link{
    color: var(--prime-color);
    text-decoration: none;
  }
  .nav-link:hover,
  .nav-link:focus{
    color: var(--accent-color);
  }
}

.header-contacts-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: var(--secondary-color);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color)
}
/* hero styles */
.hero{
  background-color: #2F303A;;
}
.hero_title{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color:  #FFFFFF;;
}
.hero_button{
  cursor: pointer;
  font-weight: 700;
  font-size: 16px ;
  line-height: 1.87;
  color:  #FFFFFF;
  background-color: var(--accent-color);
}
/* section features */
.features_title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}
.features_text{
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color);
}
/* our team */
.our_team{
  background-color: #F5F4FA;
}
.our_tem_item{
  background-color: #fff;
}
.our_team_title{
  font-weight: 500;
  font-size: 16px;  
  line-height: 1;
}
.our_tem_text{
  font-size: 16px;
  line-height: 1;
  color: var(--secondary-color);
}
/* footer */
.footer{
  background-color:#2F303A;
}
.footer_list_link{
  font-style: normal;
  text-transform: none;
  font-size: 14px;
  line-height: 2;
  color:hsl(0, 0%, 100%,0.6);
}
.location {
  color: #fff;
}

/* portfolio */
.portfolio_list_item button{
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  background-color:#F5F4FA;
}
.portfolio_list_item button:hover,
.portfolio_list_item button:focus{
  color:#fff;
  background-color: var(--accent-color);
}

.portfolio_list_link{
  background-color: #fff;
}
.list_title{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color:var(--prime-color)
}
.list_text{
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-color);
}